body{
  text-align: center;
  color: white;
  font-family: 'Muli', sans-serif;
  background: #000630;
  margin: 0;
}
a {
  text-decoration: none;
  color: #d4f8ff;
}
a:hover{
  color: rgb(250, 245, 105);
}
header{
  margin: 0;
  padding: 40px 0 40px 0;
  background: black;
}
h1, h2, h3{
  font-family: 'Audiowide', cursive;
}
header h1{
  font-size: 4em;
  margin: 0;
}
header h2{
  font-size: 1.4em;
  margin-top: -0.4em;
}
section{
  margin: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#intro p{
  width: 80%;
  text-align: left;
}
/* Format table below*/
#results div.container{
  width: 80%;
  text-align: center;
}
#results div.container>div{
  display: flex;
  flex-wrap: nowrap;
}
#results .row>div{
  padding: 10px;
  margin: 5px 0 5px 0;
}
#results .row>div:first-child{
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  margin-right: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#results .row>div:nth-child(2){
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-left: 1px;
}
#results .user{
  width: 30%;
}
#results .info{
  width: 70%;
}
#results .heading{
  font-weight: bold;
}
#results .heading>div{
  background: mediumblue;
}
#results .userData .user{
  font-size: 1.5em;
}
#results .userData:nth-child(2n+1) > div{
  background: #110e7f;
}
#results .userData>div{
  background: #00006c;
}
#results .userData:hover .user,
#results .userData:hover .info {
  background: black;
}
#results .userData .info>div{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
#results .userData .bio{
  text-align: left;
  width: 100%;
  margin: 10px;
  /* Deal with long links */
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.status{
  padding: 5px;
  margin: 10px;
  border-radius: 3px;
  width: 100px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.streaming{
  color: #19ff28;
  font-weight: bold;
  background: #0c6d12;
}
.offline{
  color: gray;
  background: #494949;
}
.preview{
  margin: 10px;
  padding: 10px;
  background: #3b005b;
  border-radius: 10px;
  border: 3px outset #5d018e;
  font-style: italic;
}
.preview img{
  width: 100%;
  max-width: 320px;
  border: solid 1px black;
}
.preview p{
  padding: 10px;
}
/* format table (above) */
footer{
  margin: 20px;
  font-family: 'Oxygen', sans-serif;
}

/* Mobile responsiveness */
@media only screen and (min-width: 1060px) {
  .preview img{
    width: 50%;
  }
  #results .userData .info a div{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (max-width: 768px) {
  body{
    margin: 0;
  }
  #results .userData .info>div{
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 530px) {
  header h2{
    margin-top: 5px;
    margin-left: 0;
  }
}
@media only screen and (max-width: 420px){
  header h1{
    font-size: 3em;
    margin: 0;
    margin-bottom: -.3em;
  }
  header h2{
    font-size: 1.4em;
    padding: 0;
    margin-top: 14px;
  }
}
